body {
    width: 100%;
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
    background-color: #f6f6f6;
}


/* 搜索 */

.search-wrap {
    position: fixed;
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    max-width: 1080px;
    background-color: #c82519;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}

.search-btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    background: url(../img/s-btn.png) no-repeat;
    background-size: 20px 18px;
    margin: 14px 0 0 15px;
}

.search-login {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    color: #fff;
    line-height: 44px;
}

.search {
    position: relative;
    height: 30px;
    background-color: #fff;
    margin: 7px 50px;
    padding-right: 10px;
    border-radius: 15px;
}

.search input {
    position: absolute;
    top: 7px;
    left: 75px;
    width: 70%;
    line-height: 16px;
    border: 0;
    background: 0 0;
    outline: none;
}

.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    margin: 8px 8px 0 15px;
    background: url(../img/jd-icon.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after {
    position: absolute;
    top: 0;
    left: 26px;
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: #ddd;
}

.sou {
    position: absolute;
    top: 8px;
    left: 48px;
    width: 18px;
    height: 15px;
    background: url(../img/jd-sprites.png) no-repeat -80px 0;
    background-size: 200px;
}

.slider {
    padding-top: 44px;
}

.slider img {
    width: 100%;
}


/* 品牌日 */

.brand {
    background-color: #fff;
}

.brand div {
    float: left;
    width: 33.33%;
}

.brand div img {
    width: 100%;
}

nav {
    height: 314px;
    margin-bottom: 10px;
}

nav a {
    float: left;
    width: 20%;
    text-align: center;
}

nav a img {
    width: 50px;
    margin: 10px 0;
}

nav a span {
    display: block;
}

.cate {
    margin: 10px;
    /* overflow: hidden; */
}

.cate a div {
    width: 25%;
    float: left;
    padding: 10px 0 10px 20px;
    background-color: #fff;
    border-right: 1px solid #eee;
    overflow: hidden;
}

.cate a div strong {
    font-weight: 700;
    font-size: 2vw;
    height: 30px;
    display: inline-block;
    max-width: 100%;
    color: #222;
}

.cate a div p {
    font-size: 1.5vw;
    color: #222;
}

.cate a div img {
    width: 100px;
}